h2 {
  color: pink;
  font-family: Impact, Charcoal, sans-serif
}

body{
  background-color:lightcyan;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.Documents {
  color: black;
  font-size: 28;
}

.CreateDoc{
  color: black;
  font-size: 28;
}
